body
{
  background-color: #C1D6B9;
  margin: 0 auto;
}
h1
{
  text-align: center;
  
}



.container
{
  background-color: #B6BCFF;
  text-align: center;
}


.myButton
{
  box-sizing: border-box;
  height: 50px;
  width: 100px;
  margin: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 20px;
  outline: none;
  border: none;
  transition: all .1s ease-in;
}

.myButton:hover
{
  background-color: #5ACBDD;
  border: 2px solid black;
  box-shadow: 2px 2px 4px 3px  #A8ACD8;
  color: blue;
  
}
